:root {
  --main-color: #ffffff;
  --alt-color: #000000;
  --bright-blue: #52a8dc;
  --min-viewport-width: 1024px;
  --min-viewport-height: 1024px;
}

html{
  height: 100%;
  overflow: hidden;
}

main {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Cardo", serif; /* Ensure Cardo is loaded */
  min-width: var(--min-viewport-width);
  min-height: var(--min-viewport-height);
  overflow: auto;
}

.container-box {
  background-color: var(--main-color);
  border-color: var(--alt-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  margin: -0.5px;
}

.navigation-box {
  background-color: var(--main-color);
  border-color: var(--alt-color);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  margin-top: -1px;
  margin-bottom: -1px;
}

.artifact-navigation-box {
  border-color: var(--alt-color);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  margin-top: -1px;
  margin-bottom: -1px;
}

.font-cardo {
  font-family: var(--font-cardo), serif;
}

.font-bold {
  font-weight: 900;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.viewport-container {
  min-width: var(--min-viewport-width);
  min-height: var(--min-viewport-height);
  overflow: auto;
}
