:root {
  --main-color: #ffffff;
  --alt-color: #000000;
  --bright-blue: #52A8DC;
}

body {
  font-family: 'Cardo', serif; /* Ensure Cardo is loaded */
}

.container-box {
  background-color: var(--main-color);
  border-color: var(--alt-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  margin: -0.5px;
}

.navigation-box {
  background-color: var(--main-color);
  border-color: var(--alt-color);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  margin-top: -1px;
  margin-bottom: -1px;
}

.artifact-navigation-box {
  border-color: var(--alt-color);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  margin-top: -1px;
  margin-bottom: -1px;
}

.font-cardo {
  font-family: var(--font-cardo), serif;
}

.text-4xl {
  font-size: 6.1rem;
  line-height: 2.5rem;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.text-nav {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-bold {
  font-weight: 900;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

