@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-cardo), serif;
}

a {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --main-color: #ffffff;
    --alt-color: #000000;
  }
  .dark {
    --main-color: #000000;
    --alt-color: #ffffff;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground;
  }
}



